.skill-label {
    -fx-background-color: lightblue;
    -fx-background-radius: 5px;
    -fx-border-color: silver;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 3px 5px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.skill-label-close {
    -fx-opacity: 1;
    -fx-text-fill: gray;
}

.skill-label-close:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.6;
}

.cv {
    -fx-background-color: lightgray;
    -fx-background-radius: 5px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 3px 5px;
    -fx-font-size: 14px;
}

#sign-selector-greater {
    -fx-border-radius: 0 3px 3px 0;
    -fx-background-radius: 0 3px 3px 0;
}

#sign-selector-less {
    -fx-border-radius: 3px 0 0 3px;
    -fx-background-radius: 3px 0 0 3px;
}

ScrollPane, TilePane {
    -fx-border-style: none;
    -fx-effect: none;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}

#cv-sort-bar {
    /*-fx-border-width: 0 0 1px 0;*/
    /*-fx-border-color: gray;*/
}

.bold {
    -fx-font-style: bold;
}